
<% content_for :heading do %>
<section class="page-top">
    <section class="parallax parallax-top" data-stellar-background-ratio="0.4" style="background-image:url(/assets/parallax.jpg);">
        <div class="container">
            <div class="row center">
                <div class="col-md-12"></div>
            </div>
        </div>
    </section>
    <div class="page-top-info with-parallax container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><%= link_to t('Home', default: "Home"), page_home_path %></li>
                    <li class="active"><%= t'Blog', default: "Blog" %></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2><%= t'Blog', default: "Blog" %></h2>
            </div>
        </div>
    </div>
</section>
<% end %>


<div class="container">
    <div class="row">
        <div class="col-md-9">
            <ul class="masonry-list featured-boxes">
            <% @blog_posts.each do |blog_post| %>             
                <li class="masonry-item">
                    <div class="featured-box">
                        <div class="box-content">
                            <article class="post post-medium">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="owl-carousel" data-plugin-options='{"items": 1, "transitionStyle": "fade"}'>
                                            <div>
                                                <div class="post-image single">
                                                    <%= image_tag blog_post.image.url(:large), class: "img-responsive img-rounded"  %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="post-content">
                                            <h4><%= link_to blog_post.title, blog_post_path(blog_post) %></h4>
                                            <%= sanitize(blog_post.content.truncate(580, separator: '</p>')) %><%#= simple_format post.body %>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="post-meta">
                                            <span><i class="fa fa-calendar"></i> <%= blog_post.created_at %> </span><br />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="post-meta">
                                            <% if blog_post.tags.present? %>
                                            <span><i class="fa fa-tag"></i>  <% blog_post.tags.each do |tag| %><%= link_to tag.name, blog_tag_path(tag) %><% end %></span>
                                            <% end %>
                                            <span><i class="fa fa-comments"></i> <a href="#"><%= blog_post.comments.count %> Comments</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <%= link_to t('Read_more', default: 'Read more...'), blog_post, class: 'pull-right' %>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </li>
            <% end %>

                            </ul>
                        </div>

                        <div class="col-md-3">
                            <aside class="sidebar" data-appear-animation="fadeInRight" data-appear-animation-delay="0">
                                <%= search_form_for @q, :url => blog_posts_path, :html => { :method => :get, :class => "well form-inline" } do |f| %>
                                    <div class="form-group">
                                        <%= f.text_field :email_cont, :type => "search", :class => "form-control", :placeholder => "Search by email" %>
                                    </div>
                                    <%= f.submit "Search", :class => "btn btn-primary" %>
                                <% end %>
                                <form />
                                    <div class="input-group">
                                        <input class="form-control" placeholder="Search..." name="s" id="s" type="text" />
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn btn-primary"><i class="fa fa-search" data-appear-animation="fadeIn" data-appear-animation-delay="500"></i></button>
                                        </span>
                                    </div>
                                </form>
                                
                                <hr />

                                <h5><%= t('Categories', default: 'Categories')%></h5>
<%
=begin

                                <ul class="nav nav-list primary push-bottom">
                                    <li data-appear-animation="fadeInRight" data-appear-animation-delay="100"><a href="#">Design</a></li>
                                    <li data-appear-animation="fadeInRight" data-appear-animation-delay="200"><a href="#">Photos</a></li>
                                    <li data-appear-animation="fadeInRight" data-appear-animation-delay="300"><a href="#">Videos</a></li>
                                    <li data-appear-animation="fadeInRight" data-appear-animation-delay="400"><a href="#">Lifestyle</a></li>
                                    <li data-appear-animation="fadeInRight" data-appear-animation-delay="500"><a href="#">Technology</a></li>
                                </ul>

=end
%>

                                <hr />

                                <h5><%= t('Tags', default: 'Tags')%></h5>
                                <% Blog::Tag.all.each do |blog_tag| %>
                                    <%= link_to content_tag(:span, blog_tag.name, class: 'label label-dark'), blog_tag_path(blog_tag) %>
                                <% end %>

                                <hr />

                                <h5><%= t('Recent_posts', default: 'Recent posts')%></h5>
                                <ul class="simple-post-list">
                                <% Blog::Post.all.each do |blog_post| %>  
                                    <li>
                                        <div class="post-image">
                                            <div class="img-thumbnail">
                                                <%= link_to(image_tag(blog_post.image.url(:mini), class: "img-responsive img-rounded"), blog_post_path(blog_post)) %>
                                            </div>
                                        </div>
                                        <div class="post-info">
                                            <%= link_to sanitize(blog_post.title.truncate(30)), blog_post_path(blog_post) %>
                                            <div class="post-meta">
                                                <span><i class="fa fa-calendar"></i> <%= blog_post.created_at %></span>
                                            </div>
                                        </div>
                                    </li>
                                <% end %>
                                </ul>
                            </aside>
                        </div>

                    </div>
                </div>
 <%= link_to 'New Post', new_blog_post_path %>