<% content_for :title do t'.page.title' end %>
<% content_for :description do t'.page.description' end %>
<% content_for :keywords do t'.page.keywords' end %>
<% content_for :twitter_card do 'product' end %>
<% content_for :social_image do image_url "services/construction.jpg" end %>
<% content_for :product_meta_twitter do %>
<meta name="twitter:label1" content="">
<meta name="twitter:data1" content="">
<meta name="twitter:label2" content="">
<meta name="twitter:data2" content="">
<% end %>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="breadcrumb">
                <li><%= link_to t('Home'), page_home_path %></li>
                <li><%= link_to t('Services'), page_services_path, rel: "up" %></li>
                <li class="active"><%= t'.title' %></li>
            </ul>
        </div>
    </div>
</div>
<div class="container page">
    <div class="row">
        <div class="col-md-6">
            <h1><%= raw t '.title' %></h1>
            <%= raw t '.content' %>
        </div>
        <div class="col-md-6">
            <%= image_tag("services/construction.png", class: "img-responsive", alt: t('.page.title'), :draggable=>false) %>
        </div>
    </div>
    <section class="call-to-action featured footer">
        <div class="row">
            <div class="center">
                <h3><%= raw t'.orderservice.title' %> <%= link_to t('.orderservice.button'), page_contact_path, class: "btn btn-lg btn-primary", alt: t('.orderservice.button') %></h3>
            </div>
        </div>
    </section>
    
    <hr class="invisible" />

    <div class="row">
        <div class="col-md-12">
            <h2><%= raw t'pages.services.section.other_services.title' %></h2>
        </div>
    </div>
    
    <div class="row featured-boxes">
        <div class="col-md-4 col-sm-6">
            <div class="featured-box featured-box-primary">
                <div class="box-content">
                    <a href="<%= service_page_registration_of_licenses_url %>"><i class="icon-featured"><%= image_tag "services/bubbles/mini/registration_of_licenses.png", class: "img-responsive", alt: "#{ t'pages.registration_of_licenses.title' }" %></i></a>
                    <h4><%= link_to t('pages.registration_of_licenses.title'), service_page_registration_of_licenses_path  %></h4>
                    <p><%= raw t'pages.registration_of_licenses.short_description' %></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="featured-box featured-box-primary">
                <div class="box-content">
                    <a href="<%= service_page_drafting_projects_of_architectural_and_engineering_url %>"><i class="icon-featured"><%= image_tag "services/bubbles/mini/drafting_projects_of_architectural_and_engineering.png", class: "img-responsive", alt: "#{ t'pages.drafting_projects_of_architectural_and_engineering.title' }" %></i></a>
                    <h4><%= link_to t('pages.drafting_projects_of_architectural_and_engineering.title'), service_page_drafting_projects_of_architectural_and_engineering_path  %></h4>
                    <p><%= t'pages.drafting_projects_of_architectural_and_engineering.short_description' %></p>
                </div>
            </div>
        </div>
    </div>
</div>