<% content_for :title do %>About<% end %>
<section class="page-top">
                    <div class="slider-container">
                        <div class="slider page-top-slider" data-plugin-options='{"startheight": 420}'>
                            <ul>
                                <li data-transition="fade" data-slotamount="1" data-masterspeed="300">
                                    <%= image_tag "slides/slide-clean-bg-red.jpg", :data => { :bgfit => 'cover', :bgposition => 'left top', :bgrepeat => 'no-repeat' } %>
                                    <div class="tp-caption sfb" data-x="right" data-hoffset="165" data-y="center" data-voffset="10" data-speed="1000" data-start="700" data-easing="Back.easeInOut" data-endspeed="300">
                                        <%= image_tag "slides/fedosin-site.png" %>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="page-top-info with-slider container">
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="breadcrumb">
                                    <li><%= link_to t('Home'), page_home_path %></li>
                                    <li class="active">Сторінки</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h2>Артем <strong>Федосін</strong></h2>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Я Адвокат</h2>
                            <p>Я, здійснюю свою професійну діяльність на підставі свідоцтва про право на заняття адвокатською діяльністю № 3875 виданого 24.09.2009 року Київською міською кваліфікаційно-дисциплінарною комісією адвокатури.</p>
                            <p>Свою юридичну освіту здобув у Київському національному університеті імені Тараса Шевченко (магістр права). Професійній шлях було розпочато з 2006 року.</p>
                            <p><b>Моя адвокатська діяльність полягає в:</b></p>
                            <ul class="list icons list-unstyled">
                                <li><i class="icon icon-check"></i> <i>захисті</i> - забезпечення захисту прав, свобод і законних інтересів підозрюваного, обвинуваченого, підсудного, засудженого, виправданого, особи, стосовно якої передбачається застосування примусових заходів медичного чи виховного характеру або вирішується питання про їх застосування у кримінальному провадженні, особи, стосовно якої розглядається питання про видачу іноземній державі (екстрадицію), а також особи, яка притягається до адміністративної відповідальності під час розгляду справи про адміністративне правопорушення;</li>
                                <li><i class="icon icon-check"></i> <i>представництві</i> - забезпечення реалізації прав і обов’язків клієнта в цивільному, господарському, адміністративному та конституційному судочинстві, в інших державних органах, перед фізичними та юридичними особами, прав і обов’язків потерпілого під час розгляду справ про адміністративні правопорушення, а також прав і обов’язків потерпілого, цивільного позивача, цивільного відповідача у кримінальному провадженні;</li>
                                <li><i class="icon icon-check"></i> <i>інших видах правової допомоги</i> - надання правової інформації, консультацій і роз’яснень з правових питань, правового супроводу діяльності клієнта, складення заяв, скарг, процесуальних та інших документів правового характеру, спрямованих на забезпечення реалізації прав, свобод і законних інтересів клієнта, недопущення їх порушень, а також на сприяння їх відновленню в разі порушення.</li>
                            </ul>
                            <p><b>Моя адвокатська діяльність ґрунтується на принципах:</b> верховенства права, законності, максимальної незалежності, конфіденційності та уникнення конфлікту інтересів.</p>
                            <b>Я є членом таких професійних об’єднань:</b>
                            <ul class="list icons list-unstyled">
                                <li><i class="icon icon-check"></i> Асоціація правників України (http://www.uba.ua)</li>
                                <li><i class="icon icon-check"></i> Асоціація адвокатів України (http://www.uaa.org.ua)</li>
                                <li><i class="icon icon-check"></i> Національна асоціація адвокатів України (http://www.unba.org.ua)</li>
                            </ul>
                        </div>
                    </div>

                    <hr class="tall" />

                    <div class="row">
                        <div class="col-md-5">
                            <h2>Мої <strong>Навички</strong></h2>
                            <div class="progress-bars">
                                <div class="progress-label">
                                    <span>закон юстиції</span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary" data-appear-progress-animation="100%">
                                        <span class="progress-bar-tooltip">100%</span>
                                    </div>
                                </div>
                                <div class="progress-label">
                                    <span>Ангпіська</span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary" data-appear-progress-animation="85%" data-appear-animation-delay="300">
                                        <span class="progress-bar-tooltip">85%</span>
                                    </div>
                                </div>
                                <div class="progress-label">
                                    <span>Російська</span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary" data-appear-progress-animation="75%" data-appear-animation-delay="600">
                                        <span class="progress-bar-tooltip">75%</span>
                                    </div>
                                </div>
                                <div class="progress-label">
                                    <span>ІТ</span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary" data-appear-progress-animation="85%" data-appear-animation-delay="900">
                                        <span class="progress-bar-tooltip">85%</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-md-offset-1">
                            <h2>Що говорять про <strong>мене...</strong></h2>
                            <div class="owl-carousel" data-plugin-options='{"items": 1, "transitionStyle": "backSlide"}'>
                                <div>
                                    <blockquote class="testimonial">
                                        <p>Я аж не міг по думати що є така людина яка зробе все на супер, спасибі тобі Артем.</p>
                                    </blockquote>
                                    <div class="testimonial-arrow-down"></div>
                                    <div class="testimonial-author">
                                        <div class="img-thumbnail img-thumbnail-small">
                                            <%= image_tag("clients/client-2.jpg", class: "img-circle img-responsive") %>
                                        </div>
                                        <p><strong>Андрей Жук</strong><span>Ген. директор і засновник - Zetfon</span></p>
                                    </div>
                                </div>
                                <div>
                                    <blockquote class="testimonial">
                                        <p>Артем пропонує дивовижні адвокатьскі послуги з відмінною ціною.</p>
                                    </blockquote>
                                    <div class="testimonial-arrow-down"></div>
                                    <div class="testimonial-author">
                                        <!--
                                        <div class="img-thumbnail img-thumbnail-small">
                                            <%= image_tag("clients/client-1.jpg", class: "img-circle img-responsive") %>
                                        </div>
                                        -->
                                        <p><strong>Марія Медицка</strong><span>PR</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="tall" />

                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="shorter">Деякі з моїх <strong>робіт</strong>...</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                </div>