<% content_for :title do t'.page.title' end %>
<% content_for :description do t'.page.description' end %>
<% content_for :keywords do t'.page.keywords' end %>
<% content_for :twitter_card do 'product' end %>
<% content_for :social_image do image_url "services/urgent_repair.jpg" end %>
<% content_for :product_meta_twitter do %>
<meta name="twitter:label1" content="">
<meta name="twitter:data1" content="">
<meta name="twitter:label2" content="">
<meta name="twitter:data2" content="">
<% end %>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="breadcrumb">
                <li><%= link_to t('Home'), page_home_path %></li>
                <li><%= link_to t('Services'), page_services_path, :rel => "up" %></li>
                <li class="active"><%= t'.title' %></li>
            </ul>
        </div>
    </div>
</div>
<div class="container page">
    <div class="row">
        <div class="col-md-6">
            <h1><%= raw t '.title' %></h1>
            <%= raw t '.content' %>
        </div>
        <div class="col-md-6">
            <%= image_tag("services/urgent_repair.jpg", class: "img-responsive", :draggable=>false) %>
        </div>
    </div>
    <section class="call-to-action featured footer">
        <div class="row">
            <div class="center">
                <h3><%= raw t'.orderservice.title' %> <%= link_to t('.orderservice.button'), page_contact_path, class: "btn btn-lg btn-primary", alt: t('.orderservice.button') %></h3>
            </div>
        </div>
    </section>
</div>