<% content_for :js do %>
<%= javascript_include_tag "vendor/ckeditor/ckeditor" %>
        <script>
            // Replace the <textarea id="editor1"> with a CKEditor
            // instance, using default configuration.
            CKEDITOR.replace( 'editor', {
                fullPage: true,
                allowedContent: true
            });
        </script>
<% end %>

<div class="container">
    <div class="row">
        <div class="col-md-9">

            <%= form_for([:blog,@post], html: { multipart: true }) do |f| %>
                <% if @post.errors.any? %>
                    <div id="error_explanation">
                        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
                        <ul>
                          <% @post.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                          <% end %>
                        </ul>
                    </div>
                <% end %>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <%= f.label :title %><br>
                        <%= f.text_field :title, class: 'form-control' %>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <%= f.label :body %><br>
                        <%= f.text_area :body, id: "editor", rows: "10", cols: "80", class: 'form-control' %>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <%= f.label :image, "Attach an Image" %>
                        <%= f.file_field :image, class: 'form-control' %>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <p>Created on: <%#= localize @post.created_at %></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <%= f.submit  class: 'btn btn-primary pull-right' %>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <%=f.label :tag_list %><br />
                        <%=f.text_field :tag_list, class: 'form-control' %>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>